<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.webteklabs">

    <application
        android:allowBackup="true"
        android:icon="@drawable/wtl_l"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".CareerActivity" />
        <activity android:name=".CareerForm" />
        <activity android:name=".EnrollmentActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".StaffActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RSActivity" />
        <activity android:name=".CEActivity"></activity>
    </application>

</manifest>
